# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = false

[*.cs]
indent_style = space
indent_size = 4

# CA1848: Use the LoggerMessage delegates
dotnet_diagnostic.CA1848.severity = none
# CA2007: Do not directly await a Task
dotnet_diagnostic.CA2007.severity = none
# CA1307: Specify StringComparison for clarity
dotnet_diagnostic.CA1307.severity = none
# CA1510: Use ArgumentNullException throw helper
dotnet_diagnostic.CA1510.severity = none
# MA0004: Use Task.ConfigureAwait(false) if the current SynchronizationContext is not needed
dotnet_diagnostic.MA0004.severity = none

[*.json]
indent_style = space
indent_size = 2

[*.yml]
indent_style = space
indent_size = 2

[*.csproj]
indent_style = space
indent_size = 2