syntax: glob
obj
bin
deploy
_ReSharper.*
*.csproj.user
*.resharper.user
*.resharper
*.suo
*.cache
~$*
*.swp
*.*~
*.bak
*.orig
test-results/
*.userprefs
*.pidb
*.user
syntax: regexp
TestResult\.xml
packages/
nuget/Isop/lib/
nuget/Isop/*.nupkg
nuget_package/
nuget/Isop.Runners/*.nupkg
nuget/Isop.Runners/tools/
.bundle
.vagrant
*.sublime-workspace
*.nupkg
appsettings.config
# vs2015 
.vs/
# project rider
.idea
.ionide
.vscode
