<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Nancy" version="1.2.0" targetFramework="net40" />
  <package id="Nancy.Hosting.Self" version="1.2.0" targetFramework="net40" />
  <package id="Nancy.Serialization.JsonNet" version="1.2.0" targetFramework="net40" />
  <package id="Nancy.ViewEngines.Veil" version="0.3.1" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net40" />
  <package id="Veil" version="0.3.1" targetFramework="net40" />
  <package id="Veil.Handlebars" version="0.3.1" targetFramework="net40" />
</packages>